@using MvcOnlineTicariOtomasyon.Models.Siniflar;
@model List<KargoTakip>
@{
    ViewBag.Title = "KargoTakip";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<table class="table table-striped">
    <tr>
        <th>Tarih</th>
        <th>Açıklama</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.TarihZaman</td>
            <td>@x.Aciklama</td>
        </tr>
    }
</table>


